@import 'shared/vars';

@media (min-width: $bp-320) {
  .container {
    max-width: 800px;
    width: 100%;
    background: $darkGrayColor;
    height: 100px;
    margin: 40px auto;
    border-radius: 5px;
    padding: 10px;
  }
}
