@import 'shared/constants/vars';

@media (min-width: $pageWidth320) {
  .container {
    display: flex;
    flex-direction: row;
    gap: 2%;
    width: 100%;
    margin: 0 auto;
    border-radius: 0.5rem;
    padding: 1rem $paddingX;
    margin: $headerHeight auto;
  }
}
@media (min-width: $pageWidth1024) {
  .container {
    max-width: $containerWidth;
    margin: 4rem auto;
  }
}
