$bp-320: 320px;
$bp-425: 425px;
$bp-768: 768px;
$bp-1024: 1024px;

$scrollBarWidth: 8px;
$scrollBarBgColor: #d0d0d0;
$scrollBarHoverBgColor: #9a9a9a;

$backgroundColor: #141414;
$whiteColor: #e1e3e6;
$darkGrayColor: #222222;
