@import 'shared/constants/vars';

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: $darkGrayColor;
  padding: 10px;
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.id,
.name,
.price,
.brand {
  font-size: 1.4rem;
  font-weight: 500;
}
