@import 'shared/constants/vars';

$height: 1.6rem;

$mainColor: #adb5bd;
$hoverColor: #e1e3e6;

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  cursor: pointer;
  + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    font-size: $height;
    color: $mainColor;
    &::before {
      content: '';
      display: inline-block;
      height: $height;
      aspect-ratio: 1;
      flex-shrink: 0;
      flex-grow: 0;
      border: 0.1rem solid $mainColor;
      border-radius: 0.5rem;
      margin-right: 0.8rem;
      background-repeat: no-repeat;
      background-position: 60% 50%;
      background-size: 60%;
      transition: 0.1s ease-in-out;
    }
  }
  &:checked + label::before {
    border-color: $hoverColor;
    background-color: $hoverColor;
    background-image: url('./icons/checkmark.svg');
  }

  &:not(:disabled):not(:checked) + label:hover::before {
    border-color: $hoverColor;
  }
  &:not(:disabled):not(:checked) + label:hover {
    color: $hoverColor;
  }
}
