@import 'shared/constants/vars';

.input {
  background: transparent;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  color: $whiteColor;
  width: 47.5%;
  border: 0.1rem $whiteColor solid;
  padding: 0.5rem;
  padding-right: 0;
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}
